# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.md text
*.css text
*.html text
*.yml text
*.yaml text
*.sql text

# Explicitly declare binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp4 binary
*.webm binary
*.mov binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
